.contact {
  padding: 120px 0;
  min-height: 1000px;

  &_title {
    font-size: 96px;
    line-height: 100%;
  }

  &_logo {
    position: relative;
    width: 90px;
    aspect-ratio: 1;
  }

  &_bg {
    width: 100vw;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--brand-yellow-100);
  }
}
