.htb {
  padding: 120px 0;

  &_step {
    &_img {
      position: relative;
      min-width: 180px;
      aspect-ratio: 1;
    }
  }

  &_title {
    text-align: center;
    margin-bottom: 32px;
    @include onlyMobile {
      font-size: 80px;
    }
  }
}
